/* line 4, ../sass/screen.sass */
.speaker .name {
  font-weight: bold;
  font-size: 22px;
}
/* line 8, ../sass/screen.sass */
.speaker .position {
  font-size: 12px;
}

/* line 13, ../sass/screen.sass */
.color {
  background: #000;
}

/* line 16, ../sass/screen.sass */
.qq {
  font-weight: bold;
}
